* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    /* font-family: "Montserrat", sans-serif; */
    /* font-family: "Roboto", sans-serif; */
}

body {
    /* font-family: "Roboto", sans-serif; */
    font-family: "Montserrat", sans-serif;
}

.outlet {
    min-height: 70vh;
}
